@import "tailwindcss";

@theme {
  --color-secondary: #6B4071;
  --color-darkbg: #14243C;
}

body {
  background: #E9DBD7;
  color: #171717;
}

main {
  background: #E9DBD7;
  min-height: 100vh;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}