@import "tailwindcss";

@theme {
  --color-primary: #6B4071;
  --color-darkbg: #14243C;
}

body {
  background: #E9DBD7;
  color: #171717;
}

main {
  background: #E9DBD7;
  min-height: 100vh;
  min-height: 100dvh;
}

.buttonPrimary {
  background: var(--color-primary);
  color: white;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.buttonPrimary:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.buttonSecondary {
  background: transparent;
  color: #6C6A84;
  border-radius: 18px;
  border: 1px solid #6C6A84;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.buttonSecondary:hover {
  background: #6C6A84;
  color: white;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.667);
  transform: translateY(-2px);
}

.buttonAuth {
  background: transparent;
  color: #14243C;
  border-radius: 18px;
  border: 1px solid #14243C;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.buttonAuth:hover {
  background: #14243C;
  color: white;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.667);
  transform: translateY(-2px);
}

.buttonAuth:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}